@font-face {
    font-family: "BPdots";
    src: url("BPdots.otf") format("opentype");
}

@font-face {
    font-family: "DotDigital7";
    src: url("advanced_dot_digital-7.ttf") format("truetype");
}

* {
    background-color: #000000 !important;
}

.container,
h1,
h3 {
    color: white;
}

h1,
h1 {
    line-height: 0.8;
}

.time {
    font-size: 6em;
}

.date {
    font-size: 2em;
}

.message {
    font-size: 1.4em;
    padding-top: 5px; 
    display: none;
}

.container {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.widget {
    margin: 0 auto;
    display: inline-block;
    padding: 0 20px 0 20px;
}

i.wi {
    font-size: 4em;
    padding-top: 10px;
}

.wi.temp:before {
    color: grey;
}

i#tomorrow.wi:before {

}

i#tomorrow.wi {
    color: #C42823;
}

i#airquality.wi:before {

}



/**
 * on change moves to this state with transition in .change-add (if given)
 * otherwise jumps there
 */

.change {
    opacity: 0.1;
}

.change-remove,
.ng-hide-add-active,
.ng-hide-remove-active {
    /*no .change-add so jumps there */
    transition: opacity 1s ease-in-out;
}

.ng-hide {
    opacity: 0;
}

.ng-hide-add {
    display: none;
}
