<div ng-controller="ClockController">
    <div class="container">
        <h1 class="time">{{ time }}</h1>
        <h3 class="date">{{ date }}</h3>
    </div>
    <div class="container">
        <div class="widget">
            <i id="current" class="wi" ng-style="getTempColor(weather_current.temperature)" ng-class="'wi-forecast-io-' + weather_current.icon">{{ weather_current.temperature | number:0 }}°</i>
        </div>
        <div class="widget">
            <i id="tomorrow" class="wi" ng-style="getTempColor(weather_tomorrow.temperatureMax)" ng-class="'wi-forecast-io-' + weather_tomorrow.icon">{{ weather_tomorrow.temperatureMax | number:0 }}°</i>
        </div>
        <div class="widget">
            <i id="airquality" class="wi wi-earthquake" ng-style="airColor">{{ airquality.index }}</i>
        </div>
        <div>
            {{message}}
        </div>
    </div>
</div>
